init-author-email=69335633+jejebecarte@users.noreply.github.com
init-author-name=jejebecarte
init-author-url=https://github.com/jejebecarte
init-version=0.01
registry=https://registry.npmjs.org/
script-shell=null
strict-ssl=true